body {
    background: linear-gradient(to bottom, #080402,  #080402, red);
    min-height: 100vh;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #080402,  #080402, red);
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #080402;
    width: 100%;
    padding: 10px;
}

.logo {
    width: 25%;
}

.logo img {
    width: 200px;
    cursor: pointer;
    align-items: right;
}

.sociais {
width: 25%;
}

.menu {
    width: 50%;
}

.menu nav a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
}

.sociais button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;

}

.sociais button i {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 50px;
}